@import "tailwindcss";
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  /* This ensures the root element also has no margins */
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  